<section class="avisos" id="avisos">
		<div class="card mb-3 ">
		  <div class="row">
		    <div class="col-md-4">
		      <img src="/img/campania/tenencia.jpg" alt="...">
		    </div>
			
		    <div class="columna">
		      <div class="card-body">
		        <h5 class="card-title">TENENCIA RESPONSABLE DE MASCOTAS</h5>
		        <p class="card-text">Accede a a la capacitacion sobre la tenencia responsable de Mascotas.</p>
		        <p class="card-text"><small class="text-muted">Sabado 14 de Noviembre</small></p>
		      </div>
		    </div>
		  </div>

		  <div class="row">
		    <div class="col-md-4">
		      <img src="/img/campania/vacunacion1.jpg" alt="...">
		    </div>
		    <div class="columna">
		      <div class="card-body">
		        <h5 class="card-title">VACUNACION ANTIRRABICA</h5>
		        <p class="card-text">Trae a tu mascota y protegela como lo necesita.</p>
		        <p class="card-text"><small class="text-muted">Domingo 22 de Noviembre</small></p>
		      </div>
		    </div>
		  </div>

		</div>
	</section>